XML/Ejercicios/UD6 Actividad 5/liburutegia.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="liburutegiak">
    <xs:complexType>
    <xs:sequence>
        <xs:element name="liburutegia">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="liburuzaina">
            
            </xs:element>
        </xs:sequence>
        </xs:complexType>
        </xs:element>
    </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>