XML/Ejercicios/UD6 Actividad 2/Parte 2/de xml a xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element type="xs:string" name="direccion"/>
        <xs:element name="bibliotecario">
          <xs:annotation>
            <xs:documentation> Debe aparecer el bibliotecario, es único </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre-apellidos"/>
              <xs:element type="xs:date" name="fecha_de_nacimiento"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="libros">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="libro" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation> gutxienez 5 liburu izan behar ditu biblioteca batek </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="titulo"/>
                    <xs:element type="xs:string" name="autor"/>
                  </xs:sequence>
                  <xs:attribute type="xs:int" name="ISBN" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>